snippet ah "A shortcut for hiding an element from a screen reader"
aria-hidden="true" role="presentation"
endsnippet

snippet cmt	"Add a comment block"
/*------------------------------------*\
	${1}
\*------------------------------------*/
endsnippet
