snippet vc "New Vue component"
<template>
	<div>
	</div>
</template>

<script>
	export default {
		props: {
		},
		data() {
			return {};		
		},
		mounted() {
		}
	}
</script>

<style lang="scss">
</style>
endsnippet
